# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=sua_url_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anonima_supabase

# CLOUDINARY
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=sua_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=sua_api_secret

ADMIN_PASSWORD=sua_senha_secreta_admin